<!-- Banner -->
  <section id="banner">
    <div class="content">
      <span class="image left">
        <img src="assets/images/CSNE_Logo_Gemini_Generated.png" alt=""  />
      </span>
      
      <header>
        <h1>Comparative Social Network Ecology</h1>
        <p>A Central Hub For Animal Social Network Databases</p>
      </header>
      
      <p>The Comparative Social Network Ecology (CSNE) initiative is a central hub for existing social network databases. While CSNE does not host data directly, it provides a catalogue of existing databases, making it easy to see what data is available for cross-species comparative research and connect with the research groups who manage them.
      Want your database to be showcased on our site? Click the button below and get in touch.
      </p>
      
      <ul class="actions">
    <li><a href="mailto:{{ site.email }}" target = "_blank" class="button big">Get in touch!</a></li>
        </ul>
      
    </div>
  </section>
